.sidebar-admin {
  height: 500px;
  width: 200px; 
  padding: 20px;
  background-color: #f0f0f0;
}

.sidebar-admin h2 {
  margin-bottom: 20px;
}

.sidebar-admin ul {
  list-style: none;
  padding: 0;
}

.sidebar-admin ul li {
  margin: 10px 0;
}

.sidebar-admin ul li button {
  width: 100%;
  padding: 8px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sidebar-admin ul li button:hover {
  background-color: #0056b3;
}

.sidebar-admin a {
  text-decoration: none;
}

.sidebar-admin a:link, .sidebar-admin a:visited {
  color: inherit;
}
